  input[type="email"]{
   margin:0;
   padding:4px;
   border:1px solid #b2b2b2;
   border-radius:4px
  }
  input[type="email"]:focus{
   border-color:#4787b1;
   box-shadow:0 0 5px 2px rgba(71,135,177,0.9);
   outline:0
  }
  input[type="email"]:required{
   border-color:#4787b1
  }
  #login-form input[type="email"] {
      width: 100%;
      border-color: #666;
  }

  .message {
  animation: hide_message;
  animation-fill-mode: forwards;
  animation-duration: 5s;    
  animation-iteration-count: 1;
  display: block;
}

@keyframes hide_message {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
